<?xml version="1.0"?>
<config>
  <modules>
    <Magekul_Tweets>
      <version>1.0.0</version>
    </Magekul_Tweets>
  </modules>
<frontend>
    <layout>
      <updates>
        <tweets>
          <file>magekul_tweets.xml</file>
        </tweets>
      </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <tweets>
        <class>Magekul_Tweets_Model</class>
        <resourceModel>Tweets_mysql4</resourceModel>
      </tweets>
      <tweets_adminhtml>
        <class>Magekul_Tweets_Model_Adminhtml</class>
      </tweets_adminhtml>
      <tweets_mysql4>
        <class>Magekul_Tweets_Model_Mysql4</class>
        <entities>
          <tweets>
            <table>tweets</table>
          </tweets>
        </entities>
      </tweets_mysql4>
    </models>
    <resources>
      <magekul_tweets_setup>
        <setup>
          <module>Magekul_Tweets</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </magekul_tweets_setup>
    </resources>
    <blocks>
      <tweets>
        <class>Magekul_Tweets_Block</class>
      </tweets>
    </blocks>
    <helpers>
      <tweets>
        <class>Magekul_Tweets_Helper</class>
      </tweets>
    </helpers>
  </global>
  <default>
    <tweets>
      <twittersettings>
        <active>0</active>
        <twitterid>MagekulSoftware</twitterid>
	  </twittersettings>
	  <displaysettings>
	  	<showright>1</showright>
      <showintents>1</showintents>
		<numberoftweets>3</numberoftweets>
        <showlinks>1</showlinks>
		<usenofollow>1</usenofollow>
		<opennew>1</opennew>
		<attags>1</attags>
		<hashtags>1</hashtags>
		<showfollow>1</showfollow>
      </displaysettings>
    </tweets>
  </default>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <tweets>
                      <title>magekulGroup - Latest Tweets</title>
                    </tweets>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
   	<updates>
    		<basket>
     			<file>tweets.xml</file>
    		</basket>
   	</updates>
  </layout>
  </adminhtml>
</config>
